[2020-03-31 08:17] GodwinEbikwo opened #4 "Error observed"
undefined is not a function (near '...(0, _reactNativeReanimated.useCode)...')

[2020-03-31 19:02] jackgisel commented on #4
Having the same issue. Using expo, and implemented it into a Javascript project.

[2020-03-31 19:06] jackgisel commented on #4
![image](https://user-images.githubusercontent.com/22860569/78065329-fb0c9700-7347-11ea-8eb3-5bc4e3407536.png)
Here is the image for reference. I am available for help and maintaining if needed :)

[2020-03-31 20:52] gorhom commented on #4
hi @GodwinEbikwo , @jackgisel
thanks for reporting the issue , i didn't test the library on Expo projects but i can assume that the Reanimated version is old. however PRs are always welcome 🙌

[2020-04-10 11:44] jesster2k10 opened #10 "Tab bar pushes too close to the edges of the screen on small devices"
# Bug

As described in the title and shown in the screenshot below. It happens when there is more than 4 tab bar items and you are using a small device (this is taken from an iPhone 8)

![Screenshot 2020-04-10 at 12 41 32](https://user-images.githubusercontent.com/6454286/78988353-9cee6980-7b28-11ea-8a4a-41bc1c8a4aeb.png)

## Environment info

| Library                         | Version |
| ------

[2020-04-10 17:56] gorhom commented on #10
hi @jesster2k10 , thanks for reporting the bug and creating a PR.

I will review it now :))

[2020-04-13 20:40] jesster2k10 commented on #10
Okay, I can confirm that the PR did indeed work. Here is a side by side of the default (12) spacing on an iPhone 8 and the reduced (8) spacing

It's worth nothing that setting a spacing to 0 or negative spacing seems to have no effect.

![Simulator Screen Shot - iPhone 8 - 2020-04-13 at 21 40 12](https://user-images.githubusercontent.com/6454286/79159086-5ec6a380-7dcf-11ea-9b78-49902fbc3659.png)

[2020-04-13 20:40] jesster2k10 commented on #10
I'll run it on different sized devices now to confirm

[2020-04-13 21:03] jesster2k10 commented on #10
I can confirm it works great on smaller/larger devices too with the following setup based on this gist here https://gist.github.com/jesster2k10/6a25236328f9ff6992da29d7c24a76b7

[code]

A screenshot taken from an iPhone SE

![Simulator Screen Shot - iPhone SE - 2020-04-13 at 22 03 07](https://user-images.githubusercontent.com/6454286/79160962-984cde00-7dd2-11ea-8766-143e195f5c9b.png)

[2020-04-13 21:03] #10 closed

[2020-04-14 17:07] gorhom commented on #4
Hi @GodwinEbikwo , @jackgisel ,

plea

[2020-04-14 17:07] #4 closed

[2020-04-15 19:27] Angelk90 opened #15 "Icon animation"
# Feature Request

![](https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/c169bb79473185.5cc3fd6d943ad.gif)

## Why it is needed
In order to give a little dynamism to everything.

[2020-04-15 19:29] Angelk90 opened #16 "Badge"
# Feature Request

![](https://i.ytimg.com/vi/ajVVjuOSlV4/maxresdefault.jpg)

## Why it is needed

Being able to indicate via a badge in the icon would allow you to suggest on any page that there are new updates.

[2020-04-17 16:03] JClackett opened #17 "More control over item inner/outer space"
# Feature Request

Im not sure if this is possible at the moment, but it would be great if you could control the X and Y values for inner and outer space independently

## Why it is needed

If you want a different ratio between X and Y padding for the icons

## Possible implementation

[code]

Ideally a solution to allow full control over each side could also be an option i.e Top, Right, Down, Lef

[2020-04-17 16:05] JClackett commented on #17
Jesus, didnt read the docs properly.. my bad..

[2020-04-17 16:05] #17 closed

[2020-04-20 05:47] nghiatv commented on #15
Try it in [Lottie react native ](https://github.com/react-native-community/lottie-react-native) and conditional render tabbar when focused or not. It's no need react native animated

[2020-04-20 07:44] gorhom commented on #15
@nghiatv yeah that's correct, but i think i'll need to provide `animatedFocus` AnimatedNode to icon component, to let user customise their icon animation 💡

thanks @Angelk90  for reporting this :)

[2020-04-20 07:46] gorhom commented on #16
@Angelk90 you could achieve this by following React Navigation docs: [Add badge to icons](https://reactnavigation.org/docs/tab-based-navigation#add-badges-to-icons) 👍

[2020-04-20 12:56] Angelk90 commented on #15
@gorhom : So do you think you will implement this feature?

[2020-04-20 13:12] gorhom commented on #15
@Angelk90 , i will only provide `animatedFocus` with icon props, then you could use it to animate your icons.

[2020-04-20 13:17] Angelk90 commented on #15
@gorhom : You could post an example online on https://snack.expo.io, also with an example of an animated tabBar for example: https://snack.expo.io/Dw_Njk940

[2020-04-21 17:14] nandorojo opened #18 "Add TypeScript typings for TabsConfigsType."
Awesome library. I'm happy to make a PR for this, if you're open to publishing it.

# Feature Request

The default tabs object looks like this:

[code]

The keys, `Home` and `Profile`, could be any strings. I think this should be changed to be the keys of the tabs. This could be implemented by pulling the types passed to the `createBottomTabNavigator`.

## Why it is needed

Prevent this error from

[2020-04-21 17:51] gorhom commented on #18
thanks @nandorojo for this well documented issue and possible solution. please feel free to submit a pr, i'll make sure to release it as soon as possible 😇

[2020-04-21 17:52] nandorojo commented on #18
You got it! Happy to help.

Do you know when you might be releasing other presets for the animation?

Awesome project!

[2020-04-21 17:56] nandorojo commented on #18
Submitted PR.

[2020-04-21 17:58] gorhom commented on #18
Thanks mate,

for the next preset, i am working on a new one [by Cuberto](https://dribbble.com/shots/5605168-Toolbar-icons-animation), hopefully by this weekend

[2020-04-21 18:00] gorhom commented on #18
@nandorojo  could you please point your PR to this repository :)

[2020-04-21 18:04] nandorojo opened #19 "Add focused boolean prop to icon"
https://github.com/gorhom/react-native-animated-tabbar/blob/d4793271ca1b2558dc35bf5e0e34b7e8c79758a2/src/bubble/item/BubbleTabBarItem.tsx#L189

**`src/bubble/item/BubbleTabBarItem.tsx`**

Add a `focused` boolean to the custom Icon render function:
[code]

Also, add this in the typescript definition:

https://github.com/gorhom/react-native-animated-tabbar/blob/d4793271ca1b2558dc35bf5e0e34b7e8c79758

[2020-04-21 18:06] nandorojo commented on #18
Done 🙃

[2020-04-21 18:42] gorhom commented on #19
yeah , i was planning for this, but instead of a `boolean`, it will be an animated value  https://github.com/gorhom/react-native-animated-tabbar/issues/15#issuecomment-616371189

[2020-04-21 18:45] nandorojo commented on #19
Would it be possible to use both? I’m using an icon library that doesn’t work with animated values. (@expo/vector-icons)

[2020-04-21 21:57] nandorojo commented on #15
As mentioned in #19, I think it would be useful to also provide a boolean here, the way react navigation does, in addition to a color string that is not an animated value. Not all icon libraries support animated values.

[2020-04-21 22:01] nandorojo commented on #19
Ah, this works too:

[code]

[2020-04-21 22:01] #19 closed

[2020-04-21 23:30] Angelk90 commented on #19
@nandorojo : Could you post a complete example on https://snack.expo.io/?

[2020-04-23 05:57] danielwinkler opened #21 "Add description for `Animated.addWhitelistedNativeProps`"
# Feature Request

It would be nice to explicitly add some information for
`Animated.addWhitelistedNativeProps`

## Why it is needed

Otherwise reanimated will constantly emit notifications over the bridge.
I see it in your SVG examples, but missed out initially.

I want to use this ticket also to thank you for this awesome package!

[2020-04-24 10:05] Angelk90 opened #22 "Example on https://snack.expo.io/"
# Feature Request

## Why it is needed

Hi @gorhom , it would be very useful to have working examples on https://snack.expo.io/

[2020-04-25 09:13] muxbert commented on #15
when the  ```animatedFocus``` is going to be shipped?

[2020-04-25 09:43] gorhom commented on #15
@muxbert this weekend :)

[2020-04-25 09:46] gorhom commented on #22
hi @Angelk90, sorry but i do not use Expo, but i think you could copy the examples code base and run it on expo smoothly.

[examples source code](https://github.com/gorhom/react-native-animated-tabbar/tree/master/example/src/screens)

[2020-04-25 09:46] #22 closed

[2020-04-25 09:50] gorhom commented on #21
Hi @danielwinkler , good catch right there 👍

actually it was something that @owinter86 suggested, you can read his investigation here (https://github.com/software-mansion/react-native-reanimated/issues/537),

i will add small description of it on the next release, thanks

[2020-04-25 19:39] Angelk90 commented on #22
@gorhom ,
I tried to recreate your example on Expo, but it doesn't seem to work, here is the link: https://snack.expo.io/NpIwPZ!uo

There seems to be some problem with `react-navigation`.

[2020-04-26 12:16] #15 closed

[2020-04-26 12:25] gorhom commented on #21
note added in https://github.com/gorhom/react-native-animated-tabbar/commit/082f3b5a2315cce8be66077e94e9a798ffd35b05 👍

[2020-04-26 12:25] #21 closed

[2020-04-26 12:50] gorhom commented on #15
`animatedFocus` been add with the new release 👍
https://github.com/gorhom/react-native-animated-tabbar/releases/tag/v1.1.0

[2020-04-26 12:59] Angelk90 opened #25 "Long press activates an effect"
# Feature Request

Linkedin:
![](https://i.imgur.com/SC6EdBS.jpg)

Hi @gorhom ,

by clicking on an element of the tabbar, normal behavior should change screen.

But a long press on an element of the tabbar could trigger an effect.

For example, as seen in the image it makes a tooltip or popper appear.

Instagram, for example, to a different behavior, if you click on the last element of the tabbar,

[2020-04-26 18:30] danielwinkler commented on #21
Great thanks!

i hadn’t seen that you whitelist it by default.
my example animated the fill property so your defaults didn’t cover it.

that’s why i thought it would be nice to add it to the README. as the SVGs in the example whitelist it explicitly.

maybe you could even allow to pass the animated properties as arg to tabbar, so that you can whitelist the correct ones.

[2020-04-26 18:51] muxbert commented on #15
How am I suppose to use this ?

I tried this way :

[code]
Home: {
    labelStyle: {
      color: '#FF5A19',
    },
    icon: {
      component: ({color, size, animatedFocus}) =>

          <AnimatedMaterialIcons size={size} color={color} name={ animatedFocus ? 'home' : 'home-outline' } />

      activeColor: '#FF5A19',
      inactiveColor: '#969696',
    },
[code]

[2020-04-27 16:27] Angelk90 commented on #15
@gorhom :
I'm trying the example file, but I don't understand how to create an animated tabbar example as in the figure.

You could publish an example, in case also with the use of lottie.

[2020-04-28 08:42] gorhom commented on #25
yeah that something has to be added 👍

[2020-04-28 08:44] gorhom commented on #15
@Angelk90 you will need to use `useCode` to play/stop lottie based on `animatedFocus`

[2020-05-02 14:58] Angelk90 opened #29 "Future features"
# Feature Request

Hi @gorhom ,
I looked around it would be interesting to be able to have a complete module with the following features:

- [ ] Image
![image](https://user-images.githubusercontent.com/20476002/80867752-1562c900-8c96-11ea-909c-a685463b2cea.png)

- [ ] Shifting Tab [Link](https://github.com/timomeh/react-native-material-bottom-navigation)
 <p align="center">
  <img src="https://raw

[2020-05-03 06:50] harucsx opened #30 "Flash Preset behaves strangely at React Native 0.61.5"
# Bug
Hello, This library is awesome!
but, Flash Preset behaves strangely at React Native 0.61.5.

The example provided works very well,
but if you change the react native version to 0.61.5, the bug is reproduced.

It only happens on Android.

## Environment info

| Library                         | Version |
| ------------------------------- | ------- |
| @gorhom/animated-tabbar         | 1.2.0

[2020-05-03 11:55] harucsx commented on #30
It only happens on Android.

[2020-05-03 12:30] gorhom commented on #30
hi @harucsx , thanks for reporting this issue , i'll investigate it as soon as i get free time :)

[2020-05-03 12:31] gorhom commented on #29
thanks @Angelk90  for those wonderful suggestions , i'll pick them one by one whenever i get free :)

[2020-05-07 11:17] muxbert opened #31 "Expensive iOS CPU usage"
# Bug

While running on iOS simulator there was a huge noticeable CPU usage when using this nice library which causes drop in the whole app performance.

![ezgif-7-f7729bbbc3eb](https://user-images.githubusercontent.com/60647004/81287859-2cc1fd80-906c-11ea-8fe6-1f9d54561e08.gif)

## Environment info

| Library                         | Version |
| ------------------------------- | ------- |
| @gor

[2020-05-07 11:57] gorhom commented on #31
@muxbert , thanks for reporting this i'll prioritise solving this issue 👍

[2020-05-09 11:26] #18 closed

[2020-05-09 14:44] #31 closed

[2020-05-09 14:54] #30 closed

[2020-05-17 20:44] outaTiME opened #36 "Endless loop when multiple taps on buttons"
Hi guys, if we multi tap too fast on buttons i get neverending loop,

here the video:

![RPReplay_Final1589747950](https://user-images.githubusercontent.com/140472/82159633-f8b5bc00-9865-11ea-9557-d28e750d2d8d.gif)

[2020-05-17 20:52] gorhom commented on #36
hi @outaTiME , thanks for reporting the issue, but in order to help you please edit this issue and follow the bug report template.

[2020-05-22 12:11] efec89 opened #39 "Badge text not updates on change"
# Bug

I'm using mobx for states. I crated cart system. When cart count changes, badge not updating.

Cart.tsx file like this:

[code]

[2020-05-22 12:32] gorhom commented on #39
Hi @efec89 , have you tried to wrapping it with ‘observer’ from mobx ?

[2020-05-22 12:39] efec89 commented on #39
My mobx side like this:

[code]

[2020-05-22 13:45] efec89 commented on #39
@gorhom  How can I use this icon file like class?

[code]

[2020-05-23 09:19] gorhom commented on #39
i think you can do this in `mobx`
[code]

[2020-05-23 14:00] efec89 commented on #39
![Screenshot_1590242331](https://user-images.githubusercontent.com/6522288/82732590-c77e3580-9d16-11ea-8ab0-ffa62bbf7062.png)

I tried your code, this error shows.

[2020-05-23 20:03] #25 closed

[2020-05-24 14:24] #36 closed

[2020-05-26 09:06] Hirbod commented on #29
I would love to give my +1 for a notification badge like the one from react-native-paper. And all those examples look great

[2020-05-27 15:12] efstathiosntonas opened #44 "How to translate the tabs?"
Hey @gorhom, i'm the guy from reddit with the translation issues.

Here's a repo to reproduce:
https://github.com/efstathiosntonas/react-native-animated-tabbar-translated

When you first open the app it will display an error `Cannot read property of 'inactiveColor' of undefined`. That's because js reads the code inside the `tabs` array before i18n is initialized. Can you think of a solution?

I've

[2020-05-27 22:28] gorhom commented on #44
hi @efstathiosntonas , thanks for reporting this issue, but actually this is not an issue with this library, but with the implementation of i18n.

i have a working fix locally , i could push it your repo but i'll need you to give me access to the repo first :)

[2020-05-27 22:32] efstathiosntonas commented on #44
Gey @gorhom thanks for looking into thus. I’ve added you as a collaborator on the repo 👍

[2020-05-27 22:33] #44 closed

[2020-05-28 20:39] elcrostatina opened #45 "preventDefault doesn't work correctly"
# Bug
the preventDefault method of the tabPress event doesn't work correctly, the focus remains on the tab that is pressed

## Steps To Reproduce

1. add the tabPress listener with the navigate method to the Tab.Screen
2. Run the App
3. Click to the relative tab
4. Press back icon to return to the previous screen

Describe what you expected to happen:
the focus have to remain on the previous tab

[2020-06-02 08:01] #39 closed

[2020-06-02 08:01] gorhom commented on #45
@elcrostatina thanks for reporting this issue, will look into it 👍

[2020-06-03 12:28] WrathChaos opened #46 "Bottom Bar Complete Style Change Customization"
# Feature Request

I would like to change the whole bottom bar's style change. If this would be optional, it will be great. Actually I just want to change some border radius and the colors and maybe add a shadow. Is that possible to let us change the style?
(I tried to add border radius via 'style' prop but bottom side there is a white background all the time)
Maybe it is because of the Navigation

[2020-06-04 20:55] gorhom commented on #46
hi @WrathChaos, i will look in to it this weekend :)

[2020-06-07 20:50] gorhom commented on #46
hi @WrathChaos , i have looked at this issue and it is doable, but here are things to take in consideration:

`React Navigation` is setting the bottom tab bar position as a `relative` to insure that it will push the content height based on its height, so if we set it to `absolute` where we will have our tab bar float, the height of the screen content will take over the whole device screen height,

[2020-06-07 21:39] gorhom commented on #46
<img width="806" alt="Screenshot 2020-06-07 at 23 30 49" src="https://user-images.githubusercontent.com/4061838/83980695-08319d80-a918-11ea-9061-ef3605618120.png">

^ i got this working , tomorrow i'll prepare a new release :)

[2020-06-07 22:03] WrathChaos commented on #46
You're awesome man :D Thank you so much, waiting for the new release. Also, this looks great :D Please share this as an example.

[2020-06-08 16:09] gorhom commented on #46
@WrathChaos this been released with v1.5.1 🎉

[2020-06-08 16:09] #46 closed

[2020-06-08 16:09] gorhom commented on #39
this been released with v1.5.1 🎉

[2020-06-10 08:05] hadnet opened #47 "Tapping on icons tabbar nothing happens (Android)"
# Bug

When tapping nothing happens

## Environment info

OS: Android 10
| Library                         | Version |
| ------------------------------- | ------- |
| @gorhom/animated-tabbar         | 1.5.1   |
| react-native                    | 0.62.2   |
| react-native-reanimated         | 1.8.0   |
| react-native-gesture-handler    | 1.6.1   |
| react-native-svg                | 12.1.0   |

##

[2020-06-10 08:41] hadnet commented on #47
Sorry, it was just an error in complementary packages installations in order to work. Closing

[2020-06-10 08:41] #47 closed

[2020-06-10 11:25] WrathChaos commented on #46
Thank you so much @gorhom,
Can you please tell me what are you using for generated releases? These tags look great :)

[2020-06-12 11:46] WrathChaos commented on #46
@gorhom Still waiting for your help :)

[2020-06-12 12:09] gorhom commented on #46
hi @WrathChaos, seems to me you did note override the `safeAreaInsets`
https://github.com/gorhom/react-native-animated-tabbar/blob/a48e3b8e6fd55e2968556814c9d10a9b25b9a2bb/example/src/screens/FlashyStyled.tsx#L84-L120

[2020-06-12 13:16] WrathChaos commented on #46
[code]

@gorhom Do you think what is it wrong? I could not find what I am doing it wrong.

[2020-06-13 09:43] gorhom commented on #46
i am testing your code locally and it works fine, make sure to install the latest version `v1.5.1`
<img width="839" alt="Screenshot 2020-06-13 at 11 42 57" src="https://user-images.githubusercontent.com/4061838/84565684-0da14480-ad6b-11ea-83f5-97758166c938.png">

[2020-06-13 14:45] WrathChaos commented on #46
@gorhom Thank you so much for helping me :) I sometimes hate React Native. It simply did not update the library :S
Now TabBar looks lovely! Thank you so much again :)

[2020-06-13 20:59] WrathChaos opened #48 "Flashy: Custom icon component error"
Here I am again :)

# Bug

When I try to use a custom icon component, it simply gives me this error.

![CleanShot 2020-06-13 at 23 53 08](https://user-images.githubusercontent.com/6813862/84578814-41af5080-add1-11ea-910c-b1fe56aaf6d4.png)

## Environment info

| Library                         | Version |
| ------------------------------- | ------- |
| @gorhom/animated-tabbar         | 1.5.1   |
|

[2020-06-13 21:55] gorhom commented on #48
Hi @WrathChaos,

[looking at its type](https://github.com/gorhom/react-native-animated-tabbar/blob/master/docs/flashy-preset.md#flashytabconfig-1), it should be

`React.FC<FlashyTabIconProps> | React.ComponentClass<FlashyTabIconProps>`

this should work 👇
[code]

[2020-06-13 22:06] WrathChaos commented on #48
Thank you so much! It works with this way :)

[2020-06-13 22:06] #48 closed

[2020-06-16 11:12] ardyfeb opened #49 "Cannot read property 'color' of undefined"
# Bug
![Screenshot_20200616-180532_Juabali](https://user-images.githubusercontent.com/30074366/84767496-c16d3300-affc-11ea-8d32-f8f087e13f0a.png)

## Environment info
| Library                         | Version |
| ------------------------------- | ------- |
| @gorhom/animated-tabbar         | 1.5.1   |
| react-native                    |0.62.2  |
| react-native-reanimated         |0.62.2   |
| re

[2020-06-16 21:43] Tyldar commented on #45
@gorhom Thanks for looking at this! Definitely need that feature 🙏 😄

[2020-06-16 21:46] ThibaultJRD commented on #45
Any idea when the feature will be released? 😬
Thanks a lot 🙏🏼

[2020-06-17 15:25] gorhom commented on #45
hi guys, sorry i am busy these days, but i got this fixed with this PR (https://github.com/gorhom/react-native-animated-tabbar/pull/50)

please test it out and let me know 👍
[code]

[2020-06-17 19:31] giangyger commented on #49
Same issue here: "TypeError: undefined is not an object (evaluating icon.inactiveColor)"

[2020-06-17 20:55] gorhom commented on #49
@ardyfeb , @giangyger  thanks for reporting the issue , i'll look into it 👍

[2020-06-17 23:59] speter9701 opened #51 "Invariant Violation: Element type is invalid. Check the render method of 'BubbleTabBarItemComponent'"
Hi!
I wanted to use this in my project but I got the following error:
Invariant Violation: Element type is invalid: expected a string or a class/function but got: object.
Check the render method of 'BubbleTabBarItemComponent'.

I tried to copy the example on the readme, but since I'm working in js, I had to delete the `TabsConfig<BubbleTabConfig>` part.
The code (part of):

[code]

Used versions:

[2020-06-18 07:37] gorhom commented on #51
hi @speter9701 ,

i could see the error caused by providing an object to icon, please look at https://github.com/gorhom/react-native-animated-tabbar/issues/48

[2020-06-18 07:37] #51 closed

[2020-06-18 13:42] speter9701 commented on #51
I've changed this:

[code]
to this:
[code]

But I'm getting the following error now:
![image](https://user-images.githubusercontent.com/47381974/85026876-87756b80-b179-11ea-9cbe-e6e130db0745.png)

[2020-06-19 10:46] chinds185a opened #52 "Element type is invalid"
# Bug

I am running an existing RN project on a new mac, when running the app on the IOS simulator I am seeing the below error

[code]

Usage

[code]

## Environment info

| Library                         | Version |
| ------------------------------- | ------- |
| @gorhom/animated-tabbar         | 1.5.1   |
| react-native                    | 0.61.5   |
| react-native-reanimated         | 1.8.0

[2020-06-19 14:05] chinds185a commented on #52
Oops just spotted the other issues, This is solved now. Closing a dupe of https://github.com/gorhom/react-native-animated-tabbar/issues/51

[2020-06-19 14:05] #52 closed

[2020-06-19 14:39] gorhom commented on #45
hi @elcrostatina , @ThibaultJRD , @Tyldar would mind test (#50) :)

[code]

[2020-06-19 14:56] gorhom commented on #49
hi @ardyfeb , would you mind test this PR, it should solve the issue

[code]

[2020-06-19 14:56] gorhom commented on #49
@giangyger your issue seems with Bubble preset, please create another issue :)

[2020-06-20 01:51] elcrostatina commented on #45
it works perfectly 💪💪

[2020-06-20 09:20] #45 closed

[2020-06-20 09:21] #49 closed

[2020-06-20 09:37] gorhom commented on #49
this should be solved with [1.6.0](https://github.com/gorhom/react-native-animated-tabbar/releases/tag/v1.6.0)

[2020-06-20 09:37] gorhom commented on #45
this should be solved with [1.6.0](https://github.com/gorhom/react-native-animated-tabbar/releases/tag/v1.6.0)

[2020-06-22 17:33] MohamadKh75 opened #54 "Navigation events not fired correctly"
# Bug

## Environment info

| Library                         | Version |
| ------------------------------- | ------- |
| @gorhom/animated-tabbar         | 1.6.0   |
| react-native                    | 0.61.5   |
| react-native-reanimated         | 1.9.0   |
| react-native-gesture-handler    | 1.6.1   |
| react-native-svg                | 12.1.0   |

## Steps To Reproduce

1. Create a simple tab b

[2020-06-24 16:55] Tyldar commented on #45
Awesome thanks! It works perfectly :)

[2020-06-24 18:44] gorhom commented on #54
hi @MohamadKh75 ,

hmm that's not navigation events, its the tab them self not re-rendering when you add/remove tabs ? right ?

[2020-06-24 19:40] MohamadKh75 commented on #54
Hey @gorhom

Well, it's version 4 so i won't add/remove tabs dynamically! But the problem is about NOT re-rendering 👌🏻

[2020-06-25 07:10] gorhom commented on #54
could you provide a simple reproducible code, so i could look into it quick.

thanks

[2020-06-27 00:13] MohamadKh75 commented on #54
Sure @gorhom!
Take a look at [here](https://github.com/MohamadKh75/TabBarBugDemo)!

P.S: if you comment out [this line](https://github.com/MohamadKh75/TabBarBugDemo/blob/694e71851d44ad5231d8c7bcb42e1cd55b6b7638/src/Router.js#L39), it will work just fine :thinking:

[2020-06-29 20:30] gorhom commented on #54
hi @MohamadKh75 ,

i briefly investigate the issue, and it seems some thing went wrong with `ReactN`, not sure why, but i got your code working by replacing your B & C screens with the following:

## B Screen
[code]

# C Screen

[code]

hope it help you 👍

[2020-06-29 21:52] MohamadKh75 commented on #54
Thanks for your help and effort ❤

If the problem is with `reactn`, then why commenting [this line](https://github.com/MohamadKh75/TabBarBugDemo/blob/694e71851d44ad5231d8c7bcb42e1cd55b6b7638/src/Router.js#L39), solve the problem 🤔?

Any idea?

[2020-07-01 19:46] xxczaki opened #55 "keyboardHidesTabBar option doesn't work"
# Bug

Adding `tabBarOptions={{keyboardHidesTabBar: true}}` on either `Tab.Navigator` component from React Navigation 5.x or `AnimatedTabBar` from this library doesn't work - the tab bar still shows above keyboard.

Tested on Android v10 Emulator

## Environment info

| Library                         | Version |
| ------------------------------- | ------- |
| @gorhom/animated-tabbar         | 1.6

[2020-07-02 09:17] xxczaki commented on #55
My bad - I did not clear the recent build, after doing so everything works fine!

[2020-07-02 09:17] #55 closed

[2020-07-04 09:10] MohamadKh75 commented on #54
@gorhom ping :grin:

[2020-07-04 19:51] gorhom commented on #54
hi @MohamadKh75 , sorry i didn't reply earlier, however, i still do not know what is the issue 🤷‍♂️

since its not related directly to react-navigation or this library, i am afraid i won't be spending time on it, however if you are interested to investigate it further, feel free to submit a pr to resolve the issue, if not, i will have to close this issue

good luck

[2020-07-04 20:23] MohamadKh75 commented on #54
Okay then
Tnx ❤

[2020-07-04 20:23] #54 closed

[2020-07-11 20:29] sadikyalcin opened #58 "JS version"
# Question

Hi, thanks for creating this. Could you provide a working JS example? I'm trying to convert but having problems left right centre!

[2020-07-12 04:46] yiwei138 commented on #49
I also have this issue but I managed to solve it myself, the issue is very simple.

`const tabs = {
  [MUST BE SAME AS ROUTE NAME]: {
    labelStyle: {
      color: '#5B37B7',
    },
    icon: {
      component: /* ICON COMPONENT */,
      activeColor: 'rgba(91,55,183,1)',
      inactiveColor: 'rgba(0,0,0,1)',
    },
    background: {
      activeColor: 'rgba(223,215,243,1)',
      inactiveColor:

[2020-07-14 07:36] gorhom commented on #58
hi @sadikyalcin , thanks for suggesting this, i will add a JS example on next release 🙂

[2020-07-16 07:20] gorhom commented on #49
@yiwei138 , thanks for pointing this out, i'll try to mention it in the docs.

However i am wondering, didn't the IDE give you a warning about it ?

[2020-07-18 16:25] gorhom commented on #58
i have updated the readme file to include JS example

https://github.com/gorhom/react-native-animated-tabbar#usage

[2020-07-18 16:25] #58 closed

[2020-07-18 16:26] gorhom commented on #29
@Angelk90 , i have released Material Preset with v2 🎉

[2020-07-19 17:47] PhamToan-kk opened #64 "i can't do with JS"
Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.

Check the render method of `BubbleTabBarItemComponent`.

This error is located at:
    in RCTView (at BubbleTabBarItem.tsx:166)
    in RCTView (at createAnimatedComponent.js:233)
    in AnimatedComponent(Component) (at BubbleTabBarItem.tsx:165)
    in RCTView

[2020-07-20 07:48] #64 closed

[2020-07-20 18:39] loureirorg commented on #64
Just for the sake of documentation, the error is that `component` expects a function:
[code]

_PS: I believe you already know how to fix this because the ticket is closed, but I am writing the solution here to help anyone that arrives with the same problem. I had this same issue and found this page with no solution, that's why I am writing the solution._

[2020-07-22 11:59] Hirbod commented on #29
Does the new release include support for notification badges? @gorhom
I see it marked as done but couldn't find any information for this.

[2020-07-22 12:10] gorhom commented on #29
@Hirbod the icon component could be designed they way you desire, which mean you could add a badge easily.

However, i'll reopen (https://github.com/gorhom/react-native-animated-tabbar/issues/16) and add an example to achieve it 👍

[2020-07-22 12:12] Hirbod commented on #29
@gorhom ok, so its "the manual" way. I thought a bit of https://callstack.github.io/react-native-paper/bottom-navigation.html
which has a badge prop and automatically renders it the "material" way.

A way to programmatically hide/show the tabbar (with animation) would also be a great thing.

[2020-07-22 13:23] gorhom commented on #29
which has a badge prop and automatically renders it the "material" way.

for me, i would prefer to have a full control on what goes into the `icon` component, could be a badge or custom animation. that we i do not limit future use.

you could create a separate ticket and i'll look into it 👍

[2020-07-22 13:25] Hirbod commented on #29
I agree with you. And I'll create a separate issue for it.

[2020-07-24 07:04] Stringsaeed opened #65 "Add more customizable props"
# Feature Request
Add more customizable props

## Why it is needed
I have many use-cases for bubble tab bar but tab style is different so I couldn't achieve this.
it would be great and more effective if we can customize tabs styles or more

Awesome work 👏🏽👍🏽

[2020-07-26 15:26] gorhom commented on #65
thanks @Stringsaeed for submitting this issue `feature request` and a pr !

i'll need to test to confirm it and i'll take it off if it's not needed 👍

[2020-07-28 15:29] rossjohnsonMP commented on #64
![Screenshot 2020-07-28 at 16 28 13](https://user-images.githubusercontent.com/44770156/88686803-5df01e00-d0ef-11ea-8de4-2ece6eb3852c.png)

I'm using react navigation 4 and not typescript and i cant seem to get it to work?

[2020-07-29 08:53] gorhom commented on #64
@rossjohnsonMP , could you create another issue for your issue, it seems different than this issue, thanks

[2020-07-29 09:00] rossjohnsonMP opened #67 "Cannot get installed/working possibly js/ts issue"
# Bug
![88686803-5df01e00-d0ef-11ea-8de4-2ece6eb3852c](https://user-images.githubusercontent.com/44770156/88779944-3ac27e80-d182-11ea-83e0-0cd055569f7f.png)

<details>
  <summary>sample code</summary>

[code]
</details>

## Environment info

| Library                         | Version |
| ------------------------------- | ------- |
| @gorhom/animated-tabbar         | 2.0.0 |
| react-native

[2020-07-29 11:12] #67 closed

[2020-07-29 11:16] rossjohnsonMP commented on #67
Managed to fix this myself, had to upgrade the following:
[code]

Some more which may not have been necessary:

[code]

Also not mentioned in the docs but i had to add:
[code]

[2020-08-04 17:25] Alarees opened #68 "tabBarVisible not working"
# Bug

react navigation provide `options` props in the `Tab.Screen`, one of the  options you pass to `options` is `tabBarVisible` as everyone knows, when using Tab navigator without this lib the `tabBarVisible` works fine, but when i integrate it with this lib it stop working, the tab bar still visible even i pass the `tabBarVisible` and set it to false

## Environment info

| Library

[2020-08-12 14:41] gorhom commented on #68
thanks for reporting this issue , i'll look into it 👍

[2020-08-12 20:30] #68 closed

[2020-08-12 21:07] gorhom commented on #16
![image](https://user-images.githubusercontent.com/4061838/90068175-83d11180-dcf0-11ea-9d97-b8f68ae6a2f7.png)

i have added icon with badge in the styled examples 👍

[2020-08-12 21:07] #16 closed

[2020-08-14 03:24] lunardidev opened #70 "Top border on the tab bar"
I believe it is a problem. I can not add top border on the tab bar.
Is there any way to do this?

[2020-08-14 03:26] #70 closed

[2020-08-14 03:27] lunardidev opened #71 "Top border on the tab bar"
I can not add top border on the tab bar.Is there any way to do this?

[2020-08-14 05:54] Alarees commented on #68
Hi, i update the lib to the last release (2.0.1) and it's not working

**mini code :**

[code]

[2020-08-14 13:59] Alarees commented on #68
i don't know why, but suddenly it works.
thanks

[2020-08-25 12:01] jainamsha commented on #52
what was the issue tho?

[2020-08-29 14:54] thegitparticle opened #72 "Adding to borderRadius to tabBarOptions leave a white background. Can not add radius to the Tab Bar."
# Bug
When I try to add some curvature to the edges of the Tab Bar (so it doesn't look like a perfect rectangle), the Tab Bar does bend the edges but the background of the Tab Bar has  a white background which ruins the whole point.

The only custom options I added to the given implementation in the README file is adding of these Tabbar options -
`
tabBarOptions={{
        style: {
          backg

[2020-08-30 12:19] thegitparticle commented on #72
Solution: Just change the default theme settings of Navigation Container.

[2020-08-30 12:19] #72 closed

[2020-09-03 05:17] graphtobinary opened #73 "animated-tabbar is not working with Drawer Navigator"
Find below my Navigator

working Fine on IOS  but in android Tab is not working ,
but when i change createDrawerNavigator to createStackNavigator it will work like a charm

Thanks in Advance

// Root Navigatorts
const RootNavigator = createDrawerNavigator(
  {
    Home: {
      screen: TabNavigator,
    },
    Profile: {
      screen: Profile,
    },
  },
  {
    contentComponent: drawerContentCom

[2020-09-03 17:50] gorhom commented on #73
Hi @graphtobinary would you please update the issue and follow the reporting bug template so i could help you ? thanks

[2020-09-10 01:04] ayell opened #74 "InactiveColor not apply on first load"
Hello,

First, thank for the component ! :+1:

But I have a small problem :(

When I first load the app, the inactiveColor what not apply , it the default icon color

![Capture d’écran du 2020-09-10 02-58-41](https://user-images.githubusercontent.com/15988065/92669365-9d767080-f311-11ea-8e1c-cc972fee3c13.png)

but when I moving on other tab all working fine

![Capture d’écran du 2020-09-10 02-59-3

[2020-09-10 07:51] gorhom commented on #74
hi @min-vison , thanks for reporting this issue, i'll look into it later tonight 👍

[2020-09-10 08:12] min-vison commented on #74
Thank you , if you need some explain , i'm stil here :)

[2020-09-10 20:37] gorhom commented on #74
i looked into the issue and from my side looks fine, however i would recommend you to provide a stable tabs object using `useMemo` or `useCallback` and give it a try.

[2020-09-10 20:39] gorhom commented on #71
hi @lunardidev,  you can use this 👍

[code]

[2020-09-10 20:39] #71 closed

[2020-09-11 02:40] min-vison commented on #74
Hello thank you for reply but I have the same problem with useMemo ( see below) ... But if I use your SVG icons in the exemple folder, all work fine . Maybe there are a problem with "react-native-vector-icons" . i don't konw . Maybe you could tell me how your convert a svg icon into the same format like in exemple folder

[code]

[2020-09-12 12:48] Angelk90 commented on #29
@gorhom :  Is there any news?

[2020-09-13 17:39] gorhom commented on #29
hi @Angelk90 , sorry i have been busy lately, would mind create a separate ticket for each preset you would like to include and i'll work on it this week 👍

[2020-09-17 07:56] Angelk90 opened #75 "Feature image"
# Feature Request

![image](https://user-images.githubusercontent.com/20476002/80867752-1562c900-8c96-11ea-909c-a685463b2cea.png)

## Why it is needed

Hi @gorhom , as you requested I have opened a separate ticket.
It would be useful to be able to put an image/photo, whether it is local or from http.

With the possibility of adding style code to make customizations.
Example as you can see from the

[2020-09-17 07:57] gorhom commented on #75
thanks @Angelk90 , I am picking it up this week :)

[2020-09-17 08:03] Angelk90 opened #76 "Material Preset Shifting Tab"
# Feature Request

![](https://raw.githubusercontent.com/timomeh/react-native-material-bottom-navigation/master/.github/demo-shifting.gif)
## Why it is needed

Hi @gorhom , as you requested I have opened a separate ticket.
Similar to Material Preset.
When a tab is selected, the other tabs are moved as shown in the image, if it has the label, only its label is visible.

[2020-09-17 08:06] Angelk90 opened #77 "Bubble Preset effect animated transition"
# Feature Request

![](https://camo.githubusercontent.com/a73931f05a534df79a918aa40846109cd34b59ba/68747470733a2f2f692e696d6775722e636f6d2f6c5247393264732e676966)

## Why it is needed

Hi @gorhom , as you requested I have opened a separate ticket.

it is based on the bubble Preset, only that you see the transition animation effect from one tab to another.

[2020-09-25 17:36] BenJeau opened #79 "Add onPress visual feedback for tab items (RawButton)"
# Feature Request
When pressing a tab item, there is no immediate visible feedback to the user. Making the tab item have a ripple effect (for android), a opacity change (for iOS), or something more custom would be great!

## Why it is needed
For the user to have a more smooth animated experience.

## Possible implementation
Not exactly sure, but I think `<RawButton />` would need to be modified. M

[2020-09-29 00:22] cgarcia55 opened #80 "maximum number of tabs?"
There is a maximum number of tabs? add 6 tabs, but 2 come off the screen.
I attach the image of the current result,

![menuoff1](https://user-images.githubusercontent.com/41555493/94498466-d773bd80-01bf-11eb-8d83-be54fd0e4007.jpg)

 and the desired result.

![menuok1](https://user-images.githubusercontent.com/41555493/94498470-d80c5400-01bf-11eb-94f9-d507cf0addd7.jpg)

[2020-09-29 00:29] #80 closed

[2020-10-08 19:29] Angelk90 commented on #75
@gorhom ,  is there any news?

[2020-10-08 19:30] Angelk90 commented on #76
@gorhom ,  is there any news?

[2020-10-08 19:30] Angelk90 commented on #77
@gorhom ,  is there any news?

[2020-10-10 16:12] gorhom commented on #75
hi @Angelk90 , i was working on this feature, but ended up refactoring the library, hopefully this week i'll release a new version with improved documentations for customise tab bars

[2020-10-16 06:48] simvirakaiml commented on #47
@hadnet how did you fix this problem? I am facing this as well.

[2020-10-17 20:43] ImadChughtai commented on #49
Still facing error "TypeError: undefined is not an object (evaluating icon.inactiveColor)" @gorhom @yiwei138.

[2020-10-18 00:26] supremevance commented on #49
@gorhom still facing

[2020-10-18 09:05] chj-damon opened #83 "useTabBarItemFocusTransition breaks hook rule, why still use it this way?"
# Bug

in `BubbleTabBar.tsx`,
[code]
the way `useTabBarItemFocusTransition` was used breaks the react hooks rules, which are:
- Call them at the top level in the body of a function component.
- Call them at the top level in the body of a custom Hook.

is there another way to define `animatedFocusValues`?

[2020-10-22 06:19] chj-damon commented on #83
I changed the code, moving `useTabBarItemFocusTransition` to `TabBarItem` component:
[code]

it works fine as expect.

[2020-10-22 06:19] #83 closed

[2020-10-22 13:14] gorhom commented on #49
@ImadChughtai , @supremevance could you provide a reproducible sample code ?

[2020-10-22 16:44] #74 closed

[2020-10-25 19:34] kevludwig commented on #49
I'm facing the same error with following configuration:

`const tabs: TabsConfig<BubbleTabBarItemConfig> = {
  News: {
    labelStyle: {
      color: '#000',
    },
    icon: {
      component:  <Ionicons name="ios-image" size={22} />,
      activeColor: 'rgba(0,0,0,1)',
      inactiveColor: 'rgba(0,0,0,1)',
    },
    background: {
      activeColor: '#ED6C00', //rgba(0,0,0,.2)
      inactiveColo

[2020-10-25 23:11] kdo1234 opened #84 "BubbleTabBar - better support for icons that are taller than they are wide"
# Feature Request

The BubbleTabBar could have better support for icons that are taller than they are wide.

## Why it is needed

The current code assumes all icons are squarish.
From BubbleTabBarItem.tsx:
[code]

## Possible implementation

The icon could take an optional minWidth prop.

[2020-10-26 18:37] gorhom commented on #49
hi @kevludwig, looking at your provided reproducible sample code, it seems you are trying to use this library with Stack navigator instead of Tab navigator (https://reactnavigation.org/docs/tab-based-navigation).

[2020-10-26 20:35] kevludwig commented on #49
`export type AppParamList = {
  News: undefined;
  Events: undefined;
  Profile: undefined;
};`
`const Stack = createBottomTabNavigator<AppParamList>();`

Hello @gorhom, I'm using the right navigator and I'm using version 1.2.0 now and it seems to work just fine. When I update the dependency it will throw the same error as mentioned above.

I took a look at your type definitions but found nothing

[2020-10-26 21:41] gorhom commented on #49
hi @kevludwig , could you try to `AppParamList` to the tabs type

[code]

[2020-10-27 16:03] kevludwig commented on #49
I installed v2.1.0 right now and it's the same error when adding the AppParamList to the type.
The problem seems to be solved when I'm ignoring type checking on the style prop.
Like mentioned I think it's the type of the array which processes the animation colours.

The issue is also back again, when I try to use the navigation prop of AnimatedTabBar.

[code]

[2020-10-27 22:24] gorhom commented on #49
@kevludwig , could you provide a full reproducible sample code ? that will help a lot , thanks

[2020-10-27 23:35] GustavoDev764 opened #85 "TypeError: undefined is not an object (evaluating 'navigation.state')"
# Bug
<p>type errors The Tabnavigator tabBar parameter receives a React.ReactNode or undefine component, however AnimatedTabBar and of type JSX Element</p>

## Environment info

| Library                         | Version |
| ------------------------------- | ------- |
| @gorhom/animated-tabbar         | ^2.1.0  |
| react-native                    |  0.63.3 |
| react-native-reanimated         | ^1

[2020-10-28 08:35] gorhom commented on #85
you need to pass `tabBar` props to `AnimatedTabBar`

[code]

[2020-10-28 08:35] #85 closed

[2020-10-28 18:21] kevludwig commented on #49
That's everything related to TabBar and the only setup that works with the @ts-ignore tag.
Tell me if you need more information.

[code]

[2020-10-28 19:46] gorhom commented on #49
Thanks @kevludwig for providing the reproducible sample code, however it is working fine here 🧐

could you provide the version of `react-navigation/native`, `react-navigation/bottom-tabs` & `react-navigation/stack` ?

Thanks

[2020-10-28 20:14] kevludwig commented on #49
Library | Version
-- | --
@react-navigation/native | 5.7.6
@react-navigation/bottom-tabs | 5.9.2
@react-navigation/stack | 5.9.3

[2020-10-28 21:08] gorhom commented on #49
hi @kevludwig , i have created a dummy project based on your reproducible code , and it seems working fine, please try it and let me know.

https://github.com/gorhom/animated-tabbar-49

[2020-10-28 21:28] kevludwig commented on #49
![image](https://user-images.githubusercontent.com/38694440/97498345-4fbed180-196c-11eb-8243-ac2ebee7ca82.png)

Okay, I think things are getting strange now. Same error here. 🤣

'''
Type '{ keyboardHidesTabBar?: boolean; activeTintColor?: string; inactiveTintColor?: string; activeBackgroundColor?: string; inactiveBackgroundColor?: string; allowFontScaling?: boolean; showLabel?: boolean; ... 11 mor

[2020-10-28 21:36] gorhom commented on #49
seems `react-navigation` updated their tabbar style type, however, it should not be an issue. did you manage to reproduce the issue on the new repo ?

[2020-10-28 21:39] kevludwig commented on #49
yes, the screenshot I provided was from your new repo. It's working, but it's showing this error.

[2020-10-28 22:12] gorhom commented on #49
okay great , then this issue consider resolved and i'll fix the typing issue tomorrow ,, thanks for your help 👍

[2020-11-05 11:08] NguyenPhatBG opened #86 "backgroundColor not working when I set preset props is material? How can i change backgroundColor Tabbar in this case?"
Below is my code:
  <Tab.Navigator
      tabBarOptions={{
        style: {
          backgroundColor: 'tomato',
        },
      }}
      tabBar={(props) => (
        <AnimatedTabBar
          preset="material"
          tabs={tabs}
          iconSize={20}
          duration={500}
          {...props}
        />
      )}

      <Tab.Screen name="Home" component={HomeStack} />
      <Tab.Screen

[2020-11-05 14:09] Angelk90 commented on #77
@gorhom ,  is there any news?

[2020-11-05 14:10] Angelk90 commented on #76
@gorhom ,  is there any news?

[2020-11-05 14:10] Angelk90 commented on #75
@gorhom ,  is there any news?

[2020-11-05 21:47] gorhom commented on #77
currently working on v3 that will help this and other custom presets to be added, no expected date yet

[2020-11-15 15:58] alz10 opened #87 "Poor Performance when having more than 3 tabs"
Watch here: https://streamable.com/t7rnz3

[code]

[2020-11-18 14:50] Angelk90 opened #88 "react-native-svg could not be found"
# Bug

<img width="398" alt="Schermata 2020-11-18 alle 15 22 07" src="https://user-images.githubusercontent.com/20476002/99545267-7db89400-29b5-11eb-9202-863efab48c65.png">

## Environment info

| Library                         | Version |
| ------------------------------- | ------- |
| @gorhom/animated-tabbar         | ^2.1.0   |
| react-native                    | 0.63.3   |
| react-native-rean

[2020-11-18 15:39] Angelk90 opened #89 "Check the render method of BubbleTabItemComponent"
# Bug

<img width="409" alt="Schermata 2020-11-18 alle 16 29 34" src="https://user-images.githubusercontent.com/20476002/99550703-4c42c700-29bb-11eb-8693-d78ceb3e924e.png">

<img width="1439" alt="Schermata 2020-11-18 alle 16 35 10" src="https://user-images.githubusercontent.com/20476002/99551430-236f0180-29bc-11eb-9d6c-9586018b8307.png">

## Environment info

| Library                         | V

[2020-11-18 20:46] gorhom commented on #88
hi @Angelk90 , in [Installation](https://github.com/gorhom/react-native-animated-tabbar#installation), i mentioned

it seems you did not install `react-native-svg` correctly , please try to install it again and install `pod` again

[2020-11-18 20:48] gorhom commented on #89
hi @Angelk90 , you need to provide `icon.component` ⚠️

[2020-11-18 20:49] #89 closed

[2020-11-18 20:49] #88 closed

[2020-11-20 15:49] Angelk90 opened #90 "Change the label tab bar"
# Feature Request
Being able to change the label of the tab bars.

![](https://github.com/gorhom/react-native-animated-tabbar/blob/master/docs/previews/bubble.gif?raw=true)

## Why it is needed

Hi @gorhom , Taking the bubble type as an example but it applies to everyone, I would need the way to change the label of the Screen Tab, the reason is that I allow the user to select the language based on

[2020-12-08 15:11] hugoh59 opened #91 "color and isFocused returns functions instead of attribute values."
I get the above error when adding {...props} to my Icon component.

[code]

That is because the returned props color and isFocused returns functions instead of attributes value. This is what I'm getting for the color prop:

[code]

Any clue why @gorhom ? Thank you

[code]

[2020-12-08 16:11] hugoh59 commented on #90
Have you tried, adding a label prop to the tab element ? It worked for me. Coupled with a translation library it should work.

[2020-12-08 16:14] hugoh59 commented on #19
I get the following error when I add the color prop to my icon component, using FeatherIcon libary the same way as you.

[2020-12-08 16:18] Angelk90 commented on #90
@hugoh59 : Do you use i18n or something similar?

[2020-12-08 16:26] hugoh59 commented on #90
had issues with i18m, I'm using react-native-localization.

[2020-12-08 16:28] hugoh59 commented on #90
Unrelated, but did you manage to change the icon color when the tab changes ? @Angelk90 for me I get a wierd object returning from the props, not the active or color prop I'm waiting for.

[2020-12-08 16:41] gorhom commented on #90
duplicated https://github.com/gorhom/react-native-animated-tabbar/issues/44

[2020-12-08 16:41] #90 closed

[2020-12-08 19:11] Angelk90 commented on #44
@efstathiosntonas : Why closed, did you find the solution?

[2020-12-08 19:14] efstathiosntonas commented on #44
@Angelk90 the repo on the first message is working fine, please take a look.

[2020-12-08 19:34] Angelk90 commented on #44
@efstathiosntonas :

If I understand correctly the solution would be to use this:

[code]

[2020-12-09 08:47] hugoh59 commented on #91
Om it seems like the issue was that I was important Animated from react-native instead of react-native-reanimated. It's working fine now. Thank you coling.

[2020-12-09 08:47] #91 closed

[2020-12-10 15:30] dunglaclary opened #92 "The label was line break"
# Bug

## Environment info

| Library                         | Version |
| ------------------------------- | ------- |
| @gorhom/animated-tabbar         | 2.1.0   |
| react-native                    | 0.63.3   |
| react-native-reanimated         | 1.13.2   |
| react-native-gesture-handler    | 1.8.0   |
| react-native-svg                | 12.1.0   |

## Steps To Reproduce

1. Create 5 tabs with l

[2020-12-15 13:27] Haseeba393 opened #93 "Element Type is invalid: Expected a string (Error)"
# Bug
I'm using latest versions of react native and gorhom/react-native-animated-tabbar library. I have only one screen App.js and i'm doing everything on that. I have followed all steps of installation and did the same code as he described in React Navigation v5/Javascript. But getting this error:
![image](https://user-images.githubusercontent.com/41360976/102220490-b4c18d00-3f02-11eb-9baa-5e6bfc

[2020-12-16 06:33] Haseeba393 commented on #93
Anyone here to help out please?

[2020-12-16 08:41] gorhom commented on #93
Hi @Haseeba393 , try to provide `component` ?

[code]

[2020-12-16 09:14] Haseeba393 commented on #93
Can you please give me an example? How I have to provide icon component?

[2020-12-16 09:20] Haseeba393 commented on #93
According to you, I'm giving an image as an icon but the same error
![image](https://user-images.githubusercontent.com/41360976/102329182-e5103680-3fa9-11eb-8311-eb8fc9b9b749.png)

[2020-12-16 11:02] Haseeba393 commented on #93
@gorhom Brother are you there? I need your help?

[2020-12-16 12:25] Haseeba393 commented on #93
Anyone here?

[2020-12-16 13:37] gorhom commented on #93
@Haseeba393 i will look into this later today 👍

[2020-12-16 13:46] Haseeba393 commented on #93
Please @gorhom it will be really thanks of you

[2020-12-16 15:47] Haseeba393 commented on #93
any luck so far? @gorhom

[2020-12-17 06:01] Haseeba393 commented on #93
Anyone here?

[2020-12-20 23:33] BenJeau commented on #87
@alz10 I just tried your code and there's no lag/performance drop, I think its maybe related to your `Home` component. It may be related to the warning in the `Home` component related to keys, I suggest you to look into the `Flatlist` component and provide a `keyExtrator` as prop.

Here's a gif where I did exactly that and there's no lag

![](https://user-images.githubusercontent.com/22248828/1027

[2020-12-21 11:55] Haseeba393 commented on #93
Can I get support here?

[2020-12-21 11:56] Haseeba393 commented on #93
This is very embarrassing for me. If you are not able to handle the support for this library then please tell me. You said that you will check it but I didn't get any reply from you

[2020-12-21 13:52] gorhom commented on #93
Hi @Haseeba393 , i understand your frustration but this is clearly not the library issue but the way your provide your icons. I am not going to fix every one use-cases.

However, i tried your provided repo, and it seems working fine , i added `Icon` as custom component and it works also fine.

[code]

[2020-12-21 13:52] #93 closed

[2020-12-22 07:07] Haseeba393 commented on #93
I'm really sorry brother. I know that no one can solve all use cases related to 1 library. By the way, I tried the way you provided the Icon and it is working fine. Thank you so much. You really saved my day.
Just one thing, if you please this also in your documentation then it will be really helpful for other people.
Thank you again @gorhom

[2021-01-06 20:35] simonelp opened #95 "Onpress not fire in expo40 sdk"
# Bug
Since I upgraded to expo40, when I activate the "Remote debug" mode from the expo menu within the application, my bar items are not clickable and do not trigger on press. The strange thing is that if I deactivate "Remote debug" it works correctly.
these are the versions of react navigator
@react-navigation/bottom-tabs: "^5.11.2",
@react-navigation/native: "^5.8.10",
@react-navigation/stack:

[2021-01-12 05:15] AkhilSobhana opened #96 "TypeError: (0, _reactNativeRedash.useValue) is not a function. (In '(0, _reactNativeRedash.useValue)(0)', '(0, _reactNativeRedash.useValue)' is undefined)"
TypeError: (0, _reactNativeRedash.useValue) is not a function. (In '(0, _reactNativeRedash.useValue)(0)', '(0, _reactNativeRedash.useValue)' is undefined)**

Please help to solve this

[2021-01-12 05:45] #96 closed

[2021-01-12 17:06] thorapps opened #97 "TypeError: undefined is not an object (evaluating 'icon.component')"
Hi,
I'm unable to setup correctly the tabbar... I got:
TypeError: undefined is not an object (evaluating 'icon.component')

Here is my code (relevant lines) :

[code]

What I'm doing wrong??

[2021-01-12 17:09] #97 closed

[2021-01-15 01:11] JaeWangL opened #98 "Type Error in `tabBar={(props) => <AnimatedTabBar {...props} tabs={tabs} />`"
# Bug

## Environment info
"@react-navigation/bottom-tabs": "^5.11.2",
"@gorhom/animated-tabbar": "^2.1.0",
"react-native": "0.63.4",
"react-native-gesture-handler": "^1.9.0",
"react-native-reanimated": "^1.13.2",

## Steps To Reproduce
When I add `tabBar={(props) => <AnimatedTabBar {...props} tabs={tabs} />` in BottomTab.Navigator from `README`
TS says

Describe what you expected to happen:
No ty

[2021-01-23 13:36] Angelk90 commented on #75
@gorhom , is there any news?

[2021-01-23 13:37] Angelk90 commented on #77
@gorhom , is there any news?

[2021-01-23 13:37] Angelk90 commented on #76
@gorhom , is there any news?

[2021-01-24 03:16] r0hin commented on #98
Also having this issue. Here's my full code: https://pastebin.com/raw/mgq1s8fn (most of it copied directly from the readme).

Is this project still being maintained?

[2021-01-24 09:42] gorhom commented on #98
hi @JaeWangL , @r0hin , thanks fo submitting this issue , i will look into to it later today 👍

[2021-01-24 16:11] ramssuthar commented on #47
@hadnet please tell how did you fix it.

[2021-01-24 20:08] gorhom commented on #98
@JaeWangL could you share your `tabs` object ?

[2021-01-24 20:10] gorhom commented on #98
@r0hin you need to provide a function component

in your `pastebin`

[code]

[2021-01-24 20:25] r0hin commented on #98
My apologies if I am doing this completely wrong but after replacing the icon components to what you have pasted above, there is still an error.
Full Code: https://pastebin.com/raw/JTPqun02
Error: https://pastebin.com/raw/VGUYfFFD
Dependencies: https://pastebin.com/raw/36wjCeJW

Thanks for your help!

[2021-01-24 21:59] maximiliankaske commented on #98
Confronting the same error.
This might be a type error in `AniamtedTabBarProps` where

[code]

should be replaced with

[code]

as seen inside in react-navigation:
https://github.com/react-navigation/react-navigation/blob/main/packages/bottom-tabs/src/types.tsx#L256

I'm not sure if it affects other types.

[2021-01-25 07:09] gorhom commented on #98
Thanks @maximiliankaske for investigating it, ill work on a fix asap 👍

[2021-01-25 18:12] #98 closed

[2021-01-25 18:14] gorhom commented on #98
fixed with `v2.1.1`  🤟

[2021-01-29 23:07] r0hin opened #100 "Uncaught TypeError: Object(...) is not a function"
# Bug

TypeError: Object(...) is not a function error will occur on compile. Error looks like this:
[code]

## Environment info

| Library                         | Version |
| ------------------------------- | ------- |
| @gorhom/animated-tabbar         | ^2.1.1   |
| react-native                    | 40.0.1   |
| react-native-reanimated         | ~1.13.0   |
| react-native-gesture-handler    | ^

[2021-01-29 23:11] gorhom commented on #100
you need to set icon components like this
[code]

[2021-01-29 23:11] #100 closed

[2021-01-29 23:22] r0hin commented on #100
I've set it. However, same error.
Full code: https://pastebin.com/raw/MYY5enG0
Thanks for your help! @gorhom

[2021-01-30 02:27] r0hin commented on #100
@gorhom, I have made the change to no avail. Consider reopening. Thanks.

[2021-01-30 20:23] r0hin opened #101 "Include working example"
# Feature Request
It would be useful to include a working example file to test out and play around with. Something like a quick app.tsx file with basic preset tabs would work.

## Why it is needed

- helps new users understand how it's used
- quickly proves if the library works or not

## Possible implementation
- something like an examples folder in the repo with working projects which use this.

[2021-02-13 21:28] csumrell opened #102 "Web compatibility?"
Does the current library work for Web as well? I have it working for IOS and Android but when i open up the web version i always get a crash with: Uncaught TypeError: Object(...) is not a function

[2021-02-16 17:16] kuldip-techholding opened #103 "Tap action not working in android"
<img width="316" alt="Screenshot 2021-02-16 at 10 47 14 PM" src="https://user-images.githubusercontent.com/63836311/108098051-eb558880-70a8-11eb-9cd6-d0b062596293.png">

[2021-02-16 17:19] kuldip-techholding commented on #47
I'm facing the same issue. Any solution for that???? Plz

[2021-02-19 18:17] k2an commented on #103
Same Problem i have got also. There is no console error. Waiting for a good solution.

[2021-02-28 16:07] BaranKazan commented on #49
I have gotten myself this far and I refuse to give up. I'm also getting the same error but I think there is something I'm doing wrong. Here is my source code together with versions.

**Source Code**
`import React from 'react';
import { NavigationContainer } from '@react-navigation/native';
import { createBottomTabNavigator } from '@react-navigation/bottom-tabs';
import AnimatedTabBar from '@gorhom

[2021-03-05 19:29] neiracausevic1 commented on #103
Same, is there a workaround?

[2021-03-08 12:47] alef-carvalho commented on #92
same problem here

[2021-03-13 12:03] getinnocuous opened #104 "Best way to mock this library?"

[2021-03-18 21:32] emirajaawn commented on #103
I have the same problem, did exactly like the example, but then tap does not work

[code]

@gorhom

[2021-03-19 10:02] sudomann commented on #49
@gorhom Please indicate somewhere in the documentation that the keys for configuring the tabs must match exactly with the route name.

It would be immensely helpful for the exception message to be something helpful like `<key> in tabs config object is not a registered route`.

I spent way too long digging through your source trying to figure out what was wrong before figuring this out  :(

@BaranK

[2021-03-20 14:38] BaranKazan commented on #49
Not gonna lie @sudomann, I gave up and moved to TypeScript xD. But thanks for the answer￼ tho, now I know what was wrong.

[2021-04-02 14:37] LadislavBohm opened #105 "Support for custom tab button component for center buttons"
# Feature Request

It would be great to support adding a tab that is not in any way handled by animated tabbar except for rendering it's component. That would allow me to implement a UI like this:

![image](https://user-images.githubusercontent.com/4920886/113424773-023e0900-93d1-11eb-82b4-c552d634401f.png)

Where middle button is my custom component that handles it's press and everything. I am ab

[2021-04-06 20:52] gorhom commented on #105
i am working on a major release that will allow custom overrides for each tab item !

[2021-04-22 19:07] BenJeau opened #106 "Expects `@react-navigation/native` to be installed even when using standalone component"
# Bug

Library expects `@react-navigation/native` to be installed even when using standalone component

## Environment info

| Library                         | Version |
| ------------------------------- | ------- |
| @gorhom/animated-tabbar         | 2.1.1   |
| react-native                    | 0.64.0   |
| react-native-reanimated         | 2.1.0   |
| react-native-gesture-handler    | 1.10.3

[2021-04-24 12:37] mhammerc commented on #106
Same here!

Looks like `react-native-reanimated` needs an updated version of `react-native-redash`.

More specifically, this release: https://github.com/wcandillon/react-native-redash/releases/tag/v16.0.9

(`react-native-animated-tabbar` still use `react-native-redash` `15.x.x`).

To force an updated resolution, I added the following in my `package.json`, using Yarn (does not work with NPM):

[cod

[2021-04-24 12:49] mhammerc commented on #106
I am now stuck on the following error:

[code]

I guess it is a compatibility problem with the latest `react-native-reanimated` ?

[2021-05-08 11:25] YassinHussein commented on #86
Write the **style** out of **tabBarOptions** that work for me
[code]

[2021-05-20 17:47] prabhatm6 opened #107 "error in SVG.js and Color.js"
when we use this tabbar library we will get error like cannot resolve node_modules/react-native-reanimated/derived/interpolate in  animated-tabbar\node_modules\react-native-redash\lib\module\v1\Colors.js and SVG.js because reanimated library is changed contain two folder reanimated1 and 2 so interpolate is present inside reanimated1 so we can change the path by changing the code in required file -

[2021-05-29 21:12] alexghi commented on #106
any updates on this? is this working only with specific versions of the dependencies?

[2021-06-01 15:33] alexghi opened #108 "Unable to resolve module react-native-reanimated/src/derived/interpolate"
# Bug

I have tried to install the component and use it as a standalone, just as described in the docs and I end up with a series of errors in metro bundler. ```error: Error: Unable to resolve module react-native-reanimated/src/derived/interpolate from /Users/MyProjectPath/node_modules/@gorhom/animated-tabbar/node_modules/react-native-redash/lib/module/v1/Colors.js: react-native-reanimated/src/der

[2021-06-01 15:36] alexghi commented on #108
I think it has to do with this: [#107 ](https://github.com/gorhom/react-native-animated-tabbar/issues/107)

[2021-06-01 19:59] alexghi commented on #108
the solution provided by @prabhatm6 also works.
What i did was install exactly 1.31.1, and not the latest or the 2.x version of react-native-reanimated.
so this also works: `"react-native-reanimated": "^1.13.1"`. (a clean install was needed - with `node_modules remove`, and `pod install`)

[2021-06-01 19:59] #108 closed

[2021-06-08 19:27] alexghi commented on #105
@gorhom any updates on your new release? can I help?

[2021-06-09 10:30] ugrdursun opened #109 "icon.inactiveColor is undefined"
Hello,
I tried exactly of example on read me, but having a error like this :

https://i.imgur.com/ck6GePN.png

What could be the problem ?

[2021-06-10 17:58] NiketanG opened #110 "react-native-reanimated/src/derived/interpolate could not be found within the project"
# Bug

When using with expo, results in the following error:
[code]

## Environment info

Using expo 4.5.2

| Library                         | Version |
| ------------------------------- | ------- |
| @gorhom/animated-tabbar         | 2.1.1   |
| react-native                    | expo 41.0  |
| react-native-reanimated         | 2.1.0   |
| react-native-gesture-handler    | 1.10.2   |
| react-nati

[2021-06-13 16:41] ugrdursun commented on #47
@hadnet Cant solve this issue too. Any solution ??

[2021-06-14 12:34] ugrdursun commented on #55
Clearing recent build you mean npm cache clean ?

[2021-06-15 07:45] ugrdursun commented on #109
Solution: Screen names and tabs property object names should be same

[2021-06-15 07:45] #109 closed

[2021-06-15 07:48] ugrdursun opened #112 "Not working on android"
Animated tab bar not working on android.

Animations are working but Tabs are not touchable.

Its perfectly working on iOS but not android. How can i solve this ?

[code]

[2021-06-28 16:05] darkbasic commented on #112
Seriously? I was sure I had to be doing something wrong...
For me it also crashes if I try to enable Debugging, does it?

[2021-06-28 16:14] darkbasic commented on #112
I think this is a duplicate of https://github.com/gorhom/react-native-animated-tabbar/issues/103

[2021-06-28 16:16] darkbasic commented on #103
Did someone manage to find a workaround?

[2021-06-29 09:48] darkbasic commented on #112
It's not a bug in the library, but a misconfiguration in react-native-gesture-handler: https://docs.swmansion.com/react-native-gesture-handler/docs/#updating-mainactivityjava

This should be closed.

[2021-06-29 09:48] darkbasic commented on #103
It's not a bug in the library, but a misconfiguration in react-native-gesture-handler: https://docs.swmansion.com/react-native-gesture-handler/docs/#updating-mainactivityjava

This should be closed.

[2021-06-29 18:40] #112 closed

[2021-06-29 19:28] #103 closed

[2021-07-01 07:17] darkbasic opened #114 "undefined is not a function w/ the the new redash v14 imports"
This is what I get since 2.1.2:

[code]

2.1.1 didn't work out of the box as well, but at I least I was able to put `"react-native-redash": "16.0.11"` in yarn resolutions to make it work. Now doing the same makes it work in my Arch Linux laptop but not in my Fedora workstation.
I guess this must have something to do with the new redash imports (https://github.com/gorhom/react-native-animated-tabba

[2021-07-03 06:09] gerzonc opened #115 "How to handle i18n?"
Hi, I've been using this library for 2 days now and haven't found any documentation about how to handle i18n, is this something possible? If so, can anyone help me with a brief example? Thanks!

[2021-07-03 21:04] gerzonc commented on #115
RTL sample shows [how to do it](https://github.com/gorhom/react-native-animated-tabbar/blob/master/example/src/screens/bubble/BubbleRTL.tsx), closing this issue

[2021-07-03 21:04] #115 closed

[2021-07-05 11:06] chishing96 commented on #110
Mine says:

<html>
<body>

@gorhom/animated-tabbar | 2.1.2
-- | --
react-native | expo 41.0.1
react-native-reanimated | 2.1.0
react-native-gesture-handler | 1.10.2
react-native-svg | 12.1.0

</body>
</html>

My Code:
[code]

App.js
[code]

[2021-07-07 10:44] fessor10 opened #116 "interpolate() was renamed to interpolateNode() in Reanimated 2. Please use interpolateNode() instead"
# I get this error when compiling my code with expo

``bash
at node_modules/react-native-reanimated/src/reanimated2/interpolation.ts:119:4 in interpolate
at node_modules/react-native-redash/lib/module/Colors.js:1:2605 in interpolateColorsRGB
at node_modules/react-native-redash/lib/module/Colors.js:1:3435 in interpolateColor
at node_modules/@gorhom/animated-tabbar/src/presets/bubble/item/BubbleTabB

[2021-07-08 10:56] fessor10 commented on #116
@gorhom Hi, can you please kindly have a look at this in your spare time.

I will be expecting to hear your thoughts on this.

Thank you!

[2021-07-13 07:19] JClackett commented on #116
Having the same issue on latest expo build

[2021-07-13 07:59] JClackett commented on #116
I think its because this package uses the old react-native-redash package, it needs to be updated

[2021-07-13 08:08] DaxiALex commented on #110
Any updates? I have the same issue.

[2021-07-13 09:19] JClackett commented on #116
Fixed by using yarn resolution in package json
[code]

and downgrading this packages version:
[code]

[2021-07-13 16:50] GuillaumeRZ commented on #116
Same problem here ! Thanks for the update ! :)

[2021-07-15 07:55] Raghavendrareddy5121 commented on #96
Im also getting same error

[2021-08-20 08:24] chris-hinds opened #117 "Is this lib maintained anymore?"
I'm seeing lots of issues that go unanswered and there are a host of different issues with the last few version of this library (most seem to be with the version of reanimated or redash used).

I'd love to continue using this library but right now its causing my app to error constantly.

[2021-08-21 22:40] gorhom commented on #117
currently im busy with [Bottom Sheet](https://github.com/gorhom/react-native-bottom-sheet) new release, once i done with it, i will prepare this library for a new major release

- Rewrite in Reanimated v2
- Support React Navigation v6
- Allow users to write their own custom tab bars

[2021-08-24 20:19] chris-hinds commented on #117
Thats great news, thanks for the reply @gorhom Please us know if the community can help in anyway. Id be happy to help test out any betas

[2021-08-29 18:46] gorhom commented on #117
@chris-hinds feel free to add your feedback here https://github.com/gorhom/react-native-animated-tabbar/discussions/118

[2021-08-29 18:46] #117 closed

[2021-08-31 18:18] gorhom opened #119 "Convert repository to monorepo"
### Overview
Split presets and core into separate packages and convert this repository to a monorepo. This is necessary to allow each preset to install its own per-dependencies  without worrying about other presets, also this will shrink the installed preset package size significantly.

So if you want to install the `flashy` preset, you will install `@gorhom/animated-tabbar-flashy` package.

[code

[2021-08-31 18:21] gorhom opened #120 "Rewrite code-base into Reanimated v2"

[2021-09-01 08:33] darkbasic opened #121 "Support React Navigation V6"
See https://github.com/react-navigation/react-navigation/issues/9563#issuecomment-896504193

Since in V6 the `tabBarVisible` option is [no longer present](https://reactnavigation.org/docs/upgrading-from-5.x#the-tabbarvisible-option-is-no-longer-present) we need to check the existence and value of `tabBarStyle`.

[2021-09-05 15:35] #119 closed

[2021-09-15 11:48] zuhairnaqi opened #123 "tabBarHideOnKeyboard not hiding tab bar when keyboard opens"
# Bug

## Environment info

| Library                         | Version |
| ------------------------------- | ------- |
| @gorhom/animated-tabbar         | =2.1.1   |
| react-native                    | 0.65.1  |
| react-native-reanimated         | ^2.3.0-alpha.3   |
| react-native-gesture-handler    | ^1.10.3   |
| react-native-svg                | ^12.1.1   |

## Steps To Reproduce

Not hiding t

[2021-09-18 17:02] butri71 opened #124 "React Native 0.65 dependency conflict"
Hi,

I'm on react native 0.63.2 and I'm getting a dependency conflict with this package, looks like that it requires version 0.65.

This is shown after a "npm audit fix" command

[code]

Thanks

[2021-09-20 07:36] He1nr1chK commented on #120
Hi @gorhom, what is the status on this? What can I do to speed things up?

[2021-09-20 17:19] butri71 commented on #116
same here as well!

[2021-09-23 07:35] zuhairnaqi commented on #91
I'm facing the same issue, Importing `Animated` correctly from `react-native-reanimated`

[2021-10-03 11:09] #121 closed

[2021-10-23 23:07] ngoel37 opened #126 "undefined is not an object (evaluating navigation.state)"
# Bug

Using standalone method from docs. Having three issues:
1. undefined is not an object (evaluation navigation.state)
![](https://i.imgur.com/pusysct.png)

2. The sample calls for using `AnimatedTabBarView`, but the imports only list `AnimatedTabBar`. Which one should I use?
3. I am getting a type error on index within the component

Thanks!

## Environment info

| Library

[2021-10-24 00:27] ngoel37 commented on #126
Fixed this. @gorhom  - we just need to fix the import to

[code]

[2021-11-16 16:44] fachryansyah opened #127 "undefined is not a function on Color.js"
# Bug
i'm follow instruction with React Navigation v5, and getting this error.
i'm trying to combine stack navigator with tabbar navigator

![Screen Shot 2021-11-16 at 23 37 56](https://user-images.githubusercontent.com/14109765/142026989-afd62ba2-fd63-4a5c-8e51-e0c735a8ec0f.png)

## Environment info

| Library                         | Version |
| ------------------------------- | ------- |
| @go

[2021-12-03 10:17] Ppang0405 opened #128 "@react-native-community/masked-view out of date. Please bump version to @react-native-masked-view/masked-view"

[2021-12-13 07:06] adam-clagtech commented on #127
I was able to resolve this error by reducing the version of [react native reanimated@1.13.3](https://www.npmjs.com/package/react-native-reanimated/v/1.13.3) to 1.13.3 and [react-native-redash@14.2.4](https://www.npmjs.com/package/react-native-redash/v/14.2.4) But other parts of my app that depended on reanimated 2 failed. Maybe pinning dependecies or resolutions may work.

[2021-12-14 08:22] Aryan6290 commented on #92
how to fix this?

[2021-12-21 16:38] squirrelhomie opened #129 "Require Module "node_modules/@gorhom/animated-tabbar/src/AnimatedTabBar.tsx" Invariant Violation"
Require Module "node_modules/@gorhom/animated-tabbar/src/AnimatedTabBar.tsx" Invariant Violation

Hello there! When creating my tabs adding them to the the Bottom Tab Navigator, (code below) I am receiving this error:

![Simulator Screen Shot - iPhone 12 Pro Max - 2021-12-21 at 08 26 23](https://user-images.githubusercontent.com/92470761/146964811-c3167fde-1014-4d48-8885-b448097bce48.png)

## Envi

[2021-12-27 16:34] Asher978 opened #130 "undefined is not a function"
# Bug

Unable to run the example as `JSX` instead of `TS`

| Library                         | Version |
| ------------------------------- | ------- |
| @gorhom/animated-tabbar         | 2.1.2  |
| react-native                    | 0.66.4|
| react-native-reanimated         |2.3.1|
| react-native-gesture-handler    |2.1.0|
| react-native-svg                |12.1.1|

Describe what you expected to ha

[2021-12-31 20:56] fessor10 commented on #120
Hello, are we still getting this? 😔

[2022-01-04 10:43] 000xuandu opened #131 "[Feature Request] Want props for adding more props for the tab label."
# Feature Request

Hi @gorhom
We need props, allowing us to add more props to the text label.

## Why it is needed

I am facing a case where a client increases the font size of devices' accessibility, which affects the font size of the label tab.
Now, I want to add some props for Text component such as: `maxFontSizeMultiplier` and `allowFontScaling`

![Screen Shot 2022-01-04 at 5 40 18 PM](https:/

[2022-01-05 16:48] kelvinndmo commented on #112
Issues is in this package are very disappointing, good work though @gorhom

[2022-01-05 16:51] kelvinndmo commented on #112
@darkbasic can you mind shedding more light on the misconfiguration, for me its working on IOS and not on Android

[2022-01-05 17:16] kelvinndmo opened #132 "Package not working on Android(EXPO SDK 44)"
Hi @gorhom

I have for 8 hours unsuccessfully tried to have this  working on Expo SDK 44, I have tried all possible means using the latest version of the package, react re-animated v1 but i haven't been successful, this is a cool project and definitely something any react native dev wants in his/her project, is it possible to provide examples especially for expo with compatible versions of depende

[2022-01-09 15:59] darkbasic commented on #112
@kelvinndmo newest version changed its installation instructions, follow the new ones and you'll be good.

[2022-01-12 09:49] Isaccobosio opened #133 "Undefined is not a function (near '...interpolate...')"
# Bug

BUG: Even if I copied and pasted the example I facing `Undefined is not a function (near '...interpolate...')`

## Screenshot
![image](https://user-images.githubusercontent.com/26121430/149117142-09064315-db2b-46a2-99c6-3159ba3ff89a.png)

## Environment info

| Library                         | Version |
| ------------------------------- | ------- |
| @gorhom/animated-tabbar         | ^2.1.

[2022-01-12 10:01] tarikko commented on #133
add this to your package.json
[code]
and use yarn.

[2022-01-12 11:22] Isaccobosio commented on #133
Thanks for the answer. But it does not seems to work.
Any other suggestions? I tried also to downgrade from `"react-native-reanimated": "^2.3.1",` to `"react-native-reanimated": "^2.2.0"`

**EDIT**
With `"react-native-reanimated": "^2.1.0",` works but facing a lot of warnings like `interpolate() is now interpolateNode()`. Maybe need to change `@gorhom/animated-tabbar` version?

[2022-01-12 12:02] tarikko commented on #133
don't downgrade react-native-reanimated,
delete the node modules folder, like this
[code]
and downgrade @gorhom/animated-tabbar to 2.1.1 like this
[code]
good luck

[2022-01-19 13:07] lauriharpf commented on #131
As a workaround, you might be able to customize the label by setting default props for the `Text` or `Animated.Text` component (depending on the preset you use) when your app starts (e.g. in index.js).

For the 'bubble' and 'flashy' presets:

[code]

For the 'material' preset:

[code]

This of course is a very crude workaround since it changes the behaviour of all `Text`/`Animated.Text` elements i

[2022-01-21 03:26] pnthach95 commented on #133
From [Redash document](https://wcandillon.gitbook.io/redash/), you have to find and add `/lib/module/v1` after `'react-native-redash'` in `node_modules\@gorhom\animated-tabbar\src`.

Or you can use my patch-package file (file name is `@gorhom+animated-tabbar+2.1.2.patch`):

[code]

[2022-01-21 20:30] tarikko commented on #133
This project is so underrated :(

[2022-01-28 18:02] sammysmart95 opened #134 "undefined is not an object (evaluating '_$$_REQUIRE(_dependencyMap[5], "./AnimatedTabBar").AnimatedTabBar')"
# Bug

![image](https://user-images.githubusercontent.com/49963003/151597256-23b985b1-85d9-4206-b7b9-ae8543155dfa.png)

Here is my src code

import React from 'react';
import {createBottomTabNavigator} from '@react-navigation/bottom-tabs';
import AnimatedTabBar from '@gorhom/animated-tabbar';
import Notification from '../screens/NotificationScreen/NotificationScreen';
import Chat from '../screens/

[2022-01-29 10:45] Amnesthesia commented on #133
This project is not very usable alongside the @gorhom Bottom Drawer now that the dependencies are kinda far apart :(

[2022-01-30 05:55] johnhaup commented on #134
Try restarting your metro bundler with `yarn start --reset-cache`

[2022-02-06 15:51] brokenpieworld commented on #134
same error getting TypeError: undefined is not a function

[2022-02-08 13:09] Nikitonskii commented on #134
faced with the same problem when trying to update version from 0.64.2 to 0.66

[2022-02-08 16:06] nikitonskii commented on #133
faced with the same issue when trying to update react-native version from 0.64.2 to 0.66.0  :(

[2022-02-08 16:21] nikitonskii commented on #110
updating @react-navigation/bottom-tabs to  version 2.1.2 helped me but I`m stuck with an issue description which you can find here https://github.com/gorhom/react-native-animated-tabbar/issues/133
react-native CLI version 0.66

[2022-03-11 22:12] martinivanalfonso commented on #110
Updating `react-native-redash` to the latest version (^16.2.3) fixed the issue for me

[2022-03-23 19:21] Humberd commented on #133
What helped me was:
1. Installing hardcoded version @gorhom/animated-tabbar@2.1.1
[code]

2. Hardcoding react-native-redash in package.json to 16.2.3
[code]

[2022-04-11 23:54] briantanabe commented on #133
I managed to fix this with by replacing Animated.interpolate with Animated.interpolateNode in node_modules/react-native-redash/lib/module/Colors.js... I'll give Humberd's solution a shot once I get this working on Android

[2022-04-12 03:38] briantanabe commented on #112
@darkbasic Can you please be more specific – it's unclear what you're referring to in the link in your comment from June 29, and I have no idea what installation instructions you're referring to on January 9 (I can't find any required changes in installation this library nor react-native-gesture-handler). It seems like the tab buttons not working is a common problem on Android, and there are a ton

[2022-04-12 03:54] briantanabe commented on #103
Again @darkbasic what is that link referring to? This bug currently affects me as well, and there's no explanation as how to fix it, even if it's independent of this library.

[2022-05-05 12:51] darkbasic commented on #112
I simply mean that react-native-gesture-handler had some installation instructions which needed to be followed in order to have react-native-animated-tabbar working on Android. I can't be more specific because I don't remember what exactly did the trick, but what I had to do was to simply follow the react-native-gesture-handler installation instructions.

[2022-05-05 12:55] briantanabe commented on #132
Just bumping this, I had to remove this package and completely recode my tab bar after upgrading to SDK 44 due to it not working on Android, namely the tapping functionality stopped working for me. Really loved this tab bar, but it needs some love...

[2022-05-05 12:57] briantanabe commented on #112
I had to uninstall this package altogether because of this bug, and I've been using it for over a year. None of the installation instructions for react-native-gesture-handler worked for me... I'd love if we could re-open this issue, as I think it's related to #132

[2022-05-22 10:28] mzohrab commented on #96
Downgrading to 2.1.1 version works ok.

[2022-08-30 20:01] brokenpieworld opened #136 "Plz update for React Navigation V6"
Plz update for React Navigation V6

[2022-09-03 09:36] chrismathews2007 commented on #96
**TypeError: (0, _reactNativeRedash.useValues) is not a function. (In '(0, _reactNativeRedash.useValues)(0)', '(0, _reactNativeRedash.useValues)' is undefined)**

using versions
"react-native-reanimated": "~2.8.0",
"react-native-redash": "^18.0.0",

Please help me to overcome this.

[2022-09-03 12:02] Rushabhsinora opened #137 "TypeError: (0, _reactNativeRedash.useValue) is not a function. (In '(0, _reactNativeRedash.useValue)(0)', '(0, _reactNativeRedash.useValue)' is undefined)"
Error : TypeError: (0, _reactNativeRedash.useValue) is not a function. (In '(0, _reactNativeRedash.useValue)(0)', '(0, _reactNativeRedash.useValue)' is undefined)

In Package.json

"dependencies": {
    "@react-navigation/native": "^6.0.12",
    "@react-navigation/stack": "^6.2.3",
    "expo": "~46.0.9",
    "expo-font": "~10.2.0",
    "expo-splash-screen": "~0.16.2",
    "expo-status-bar": "~1.4.

[2022-09-12 11:39] Yasir12598 commented on #72
@KeneePatel

[code]

to know about the Theme goto----->   https://reactnavigation.org/docs/themes/

[2022-11-13 14:20] Codedrainer commented on #133
After spending 2 days in that error finally, i have found a solution. You just need to include these two libraries in you package.json with exact versions mentioned below.

[code]
@tarikko @Isaccobosio Try this
Nothing worked for me except this configuration, i hope this might help someone
Good Luck

[2022-11-15 17:25] zalwicker2 commented on #133
Solution that worked for me was modifying the react-native-redash library and updating a few values for reanimated v2.
This is with version 14.2.4 of react-native-redash.
In react-native-redash/lib/module/Colors.js change `interpolate=Animated.interpolate` to `interpolate=Animated.interpolateNode`
In react-native-redash/src/Colors.ts replace all instances of the interpolate method (including in th

[2022-11-30 14:34] hugoh59 commented on #130
Getting same error